<section class="card">
  <a href="/tweets/{{id}}">
    <div class="card-body">
      {{#each tweetsData as |tweet|}}
      <p>
        {{tweet.text}}.
      </p>
      {{/each}}
      {{#each usersData as |user|}}
      <p>By: {{user.username}}</p>
      {{/each}}
    </div>
  </a>
</section>