<section class="tweets">
  <img src="/images/{{tweets.filename}}" alt="{{tweets.description}}">
  <div class="tweets-details">
    <h3>{{tweets.title}}</h3>
    <p>By: {{tweets.artist}}</p>
  </div>
</section>